* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: hsl(212, 45%, 89%);
}
.wrapper {
    /* width: 100vw; */
}
.white {
    background-color: hsl(0, 0%, 100%);
    width: 40%;
    margin: 20px auto;
    padding: 20px;
}
figure {

}
img {
    width: 100%;
    height: auto;
}
